dist
.idea
node_modules
puzzles.iml
/PanamaCanal/.angular/cache/21.2.19/FAQWidget/.tsbuildinfo
/PanamaCanal/.angular/cache/21.2.19/FAQWidget/angular-compiler.db
/PanamaCanal/.angular/cache/21.2.19/FAQWidget/angular-compiler.db-lock
